######## dev SupaBase en Saas
VITE_SUPABASE_URL=lien _url_supabase
VITE_SUPABASE_ANON_KEY=cle_anon_supabase
######## test mail de confirmation mailpit
VITE_SUPABASE_URL=lien _url_supabaseLocal
VITE_SUPABASE_ANON_KEY=cle_anon_supabaseLocal