.onboardingInfoConfirmationCard {
  margin-bottom: var(--spacing-xl);
  background-color: var(--color-bg-card);
  border: 1px solid var(--color-border-card-primary);
  border-radius: 6px;
  box-shadow: 4px 4px 0 var(--color-border-card-primary);
  padding: var(--spacing-md);
}